[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
wget = "*"
mutagen = "*"
izen = {editable = true, path = "/Users/lihe/00Li/github/izen"}
lxml = "*"
urllib3 = ">=1.24.2"

[dev-packages]
twine = "*"

[requires]
python_version = "3.7"
