[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
wget = "*"
mutagen = "*"
lxml = "*"
urllib3 = ">=1.24.2"
pyyaml = "*"
sh = "*"
decorator = "*"
ihelp = "*"
icfg = {editable = true,path = "/Users/lihe/00Li/github/iz/icfg"}
ipretty = {editable = true,path = "/Users/lihe/00Li/github/iz/ipretty"}
icraw = {editable = true,path = "/Users/lihe/00Li/github/iz/icraw"}

[dev-packages]
twine = "*"

[requires]
python_version = "3.7"
